<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>About <span class="green-text">My</span> Diary</h1>
            <p>In this project, you will create and design a website </p>
            <p>for your diary writing.</p>
        </div>

        <%- include('./layout/Footer') %>